<?xml version="1.0"?>
<!--
  ~ /**
  ~  * Copyright © Vaimo Group. All rights reserved.
  ~  * See LICENSE_VAIMO.txt for license details.
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="OpticProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="resourceModel" xsi:type="string">
                Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult
            </argument>
            <argument name="mainTable" xsi:type="string">OpticSage</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument xsi:type="array">
                <item xsi:type="string" name="Optic_data_source">OpticProvider</item>
            </argument>
        </arguments>
    </type>
</config>
