<?xml version="1.0"?>
<!--
  ~ /**
  ~  * Copyright © Vaimo Group. All rights reserved.
  ~  * See LICENSE_VAIMO.txt for license details.
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gundo_Optic::listing" sortOrder="100" title="Sage Optics" module="Gundo_Optic"
             parent="Gundo_Sage::config_sage" resource="Gundo_Optic::listing" translate="title"
             action="Product/index/index"/>
    </menu>
</config>
